<h1><% provide(:title,t('view.parts.part_new')) %></h1>
<div class="container">
  <div class="upper-box">
    <%= render 'form', part: @part %>
    <%= link_to t('view.customers.to_index'), parts_path, class:"btn btn-info" %>
  </div>
</div>
