<h1><%= t('view.user_mailer.sales_check_comment_content1') %></h1>
<h4><%= @sales_check_comment.boss_check_comment.detail_report.support_program.title%><%= t('view.user_mailer.sales_check_comment_content2') %></h4>
