<h1><% provide(:title, t('view.support_programs.support_program_new')) %></h1>
<div class="container">
  <div class="upper-box">
    <%= render 'form', support_program: @support_program %>
    <%= link_to t('view.support_programs.to_index'), support_programs_path, class:"btn btn-info" %>
  </div>
</div>
