<h1><% provide(:title,t('view.detail_reports.detail_report_new')) %></h1>

<div class="container">
  <div class="upper-box">
    <%= render 'form', detail_report: @detail_report %>
    <%= link_to t('view.detail_reports.to_index'), detail_reports_path, class:"btn btn-info" %>
  </div>
</div>
