<h1>顧客情報 -編集-</h1>
<h1><% provide(:title, t('view.customers.customer_edit')) %></h1>
<div class="container">
  <div class="upper-box">
    <%= render 'form', customer: @customer %>
    <div class="create-new">
     <%= link_to t('view.customers.show'), @customer, class:"btn btn-info" %>
    </div>
    <div class="create-new">
     <%= link_to t('view.customers.to_index'), customers_path, class:"btn btn-info" %>
    </div>
  </div>
</div>
