<h1><% provide(:title, t('view.installed_products.installed_product_edit')) %></h1>
<div class="container">
  <div class="upper-box">
    <%= render 'form', installed_product: @installed_product %>
    <div class="create-new">
     <%= link_to 'Show', @installed_product, class:"btn btn-info" %>
    </div>
    <div class="create-new">
     <%= link_to 'Back', installed_products_path, class:"btn btn-info" %>
    </div>
  </div>
</div>
