<h1><% provide(:title, t('view.installed_products.installed_product_new')) %></h1>
<div class="container">
  <div class="upper-box">
    <%= render 'form', installed_product: @installed_product %>
    <%= link_to t('view.installed_products.to_index'), installed_products_path, class:"btn btn-info" %>
  </div>
</div>
