<h1>Editing Boss Check Comment</h1>
<div class="content-wrapper">
  <div class="container">
    <div class="upper-box">
      <%= render 'form', boss_check_comment: @boss_check_comment %>

      <%= link_to 'Show', @boss_check_comment %> |
      <%= link_to 'Back', boss_check_comments_path %>
    </div>
  </div>
</div>
