<h1><% provide(:title, t('view.products.product_new')) %></h1>

<div class="content-wrapper">
  <div class="container">
    <div class="upper-box">
      <%= render 'form', product: @product %>
      <%= link_to t('view.customers.to_index'), products_path, class:"btn btn-info" %>
    </div>
  </div>
</div>
